@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Inter', sans-serif;
  }
.container {
    width: 1440px;
    margin: 0 auto;
    
}
.nav {
    display: flex;
    justify-content: center;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    background: #EDF2EC;
    
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}
  
.navbar a {
    text-decoration: none;
    color: #010201;
    margin-left: 48px;
    list-style-type: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}
  
.navbar a:hover,
.active {
    color: #E06733;
    transition: 0.6s;
}
.menu-btn {
        
    padding-right: 25px;
    padding-top: 54px;
    
}  
.btn {
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.navbar a:last-child {
    padding-right: 110px;
}


.logo{
    display: flex;
    justify-content: center;
    padding-top: 52px;
    padding-left: 108px;
}

/* .main {
    display: flex;
    justify-content: center;
} */
.plants {
    display: flex;
    justify-content: center;
}
.plants-wrapper {
    display: flex;
    grid-template-columns: repeat(2, auto);
    gap: 210px;
    background: #EDF2EC;
    padding-top: 45px;
}
.plants-wrapper__img{
    width: 100%;
    height: 100%;
    padding:62px 0 45px 110px ;
}
.plants-wrapper__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.plants-wrapper__text {
    padding:98px 100px 94px 0 ;  
}
.plants-wrapper__text-titile {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}
.plants-wrapper__text-titile span{
    color: #499A18;
}
.plants-wrapper__text-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-top: 45px;
}
.plant-btn {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 45px;
}

.professional{
    display: flex;
    justify-content: center;
}
.professional-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding:90px 110px ;
    

}
.professional-wrapper__text{
    padding-top: 75px;
    padding-right: 150px;
}

.professional-wrapper__text h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.professional-wrapper__text h2 span {
    color: #E06733;
}
.professional-wrapper__text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    margin-top: 40px;
}

.professional-wrapper__img {
    
    width: 100%;
    height: auto;
}
.professional-wrapper__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.service {
    display: flex;
    justify-content: center;
}
.service-wrapper {
    background: #EDF2EC;
    padding-bottom: 125px;
}

.service-info {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    padding-bottom: 75px;
}
.service-info__text {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-top: 40px;
    padding-left: 109px;
}
.service-info__btn{
    padding-right:325px;
    padding-top: 64px;
}
.service-btn {
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    cursor: pointer;
    margin-left:33px; 

    
    
}
.active-tab {
    background: #E06733;
    color:#EDF2EC;
}
.hidden-tab-content {
    display: block;
}
.gardens-btn{
    margin-right:33px ;
}
.lawn-btn{
    margin-right: 32px;
}
.service-lable{
    display: grid;
    grid-template:auto/repeat(auto-fit, minmax(255px, 1fr)) ;
    /* grid-template:repeat(2,auto) / repeat(3, auto); */
    justify-content: center;
    gap: 55px 116px;
    padding: 0 110px;
}
.service-lable_item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.servece-label_id {
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
}
.service-lable_item h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    text-align: center;
    margin-top: 10px;
}
.service-lable_item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
    margin-top: 13px;
    padding-bottom: 33px;
}
.filter {
    filter: blur(3px);
}




.prices {
    display: flex;
    justify-content: center;
}
.prices-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
.prices-base {
    padding-top: 40px;
    padding-left: 110px;
}
.prices-base h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    padding-bottom: 60px;
}
.accordion__wrapper {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    width: 332px;
}
.accordion__list {
    padding: 34px 41px;
}


.accordion__content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0 20px;
	will-change: max-height;
	transition: all 0.3s ease-out;
	box-sizing: content-box;
    background: #D6E7D2;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 15px;
}
.accordion__content h6 {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    
}
.accordion__content p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
}
.accordion__content span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E06733;

}
.accordion__content-btn {
    background: #FFFFFF;
    border-radius: 10px;
    width: 86px;
    height: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin-top: 10px;
    
}
.accordion__title {
	font-weight: bold;
	font-size: 1.17em;
}

.accordion__icon {
	transition: transform 0.3s ease-out;
}

.accordion__open .accordion__icon {
	transform: rotate(45deg);
}

.accordion__open .accordion__content {
	opacity: 1;
	padding: 20px;
}

.accordion {
	width: 100%;
    list-style-type: none;
    
}
.accordion__open {
    background: #D6E7D2;
    border-radius: 20px;
    margin-bottom: 15px;
    
    
}
.accordion__control {
    width: 100%;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	height: 50px;
	border: none;
    background: #EDF2EC;
    border-radius: 20px;
}

.accordion__control::-webkit-details-marker {
	display: none;
}

.accordion__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
	margin-left: 35px;
}

.accordion__icon {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: #bfbfbf;
    margin-right: 35px;
}

.accordion__icon::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 1px;
	background-color: #000;
	transform: translate(-50%, -50%);
}

.accordion__icon::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1px;
	height: 50%;
	background-color: #000;
	transform: translate(-50%, -50%);
}

.accordion__content {
	padding: 15px;
	
}

.accordion[open] .accordion__icon {
	transform: rotate(45deg);
}
.prices-text {
    padding-top: 40px;
    padding-right: 110px;
    display: flex;
    flex-direction: column;
    
}
.prices-text p {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    text-align: right;
    
    
}
.prices-text span {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #499A18;
}
.prices-btn {
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    margin-left: 280px;
    margin-top: 40px;
     
}
.prices-text img {
    width: 152px;
    height: 174.99px;
    margin-left: 280px;
    margin-top: 40px;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.contact__wrapper {
    background: #EDF2EC;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    

}

.contact__wrapper p{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-top: 60px;
    padding-left: 115px;
    
}
.contact__wrapper img {
    margin-top: 50px;
    margin-left: 105px;
}
.form-group {
    padding-top: 150px;
    margin-left: 50px;
    width: 450px;
    
    
    

}

.dropdown {
	position: relative;
    height: 50px;
}

.dropdown__button {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;

	background: #C1E698;
    border: 1px solid #D6E7D2;
    border-radius: 0px;
	height: 46px;

	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	padding-right: 35px;

	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	cursor: pointer;
}

.dropdown__button:focus, .dropdown__button--active {
	outline: none;
	box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);

	
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: #79849B transparent transparent transparent;
	border-style: solid;

	
	pointer-events: none;
}


.dropdown__list {
	display: none;

	position: absolute;
	left: 0;
	top: 52px;

	margin: 0;
	padding: 0;
	list-style-type: none;

	background: #DCE9D9;
	box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
	overflow: hidden;

	border-radius: 6px;
	width: 100%;

	z-index: 1;
    color: #499A18;
}

.dropdown__list--visible {
	display: block;
}

.dropdown__list-item, .dropdown__list-item-can, .dropdown__list-item-new, .dropdown__list-item-yon, .dropdown__list-item-she {
	margin: 0;
	padding: 0;
	border-bottom: 0px;
	padding: 13px 20px;
	cursor: pointer;
}

.dropdown__list-item:first-child {
	border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
	border-radius: 0 0 6px 6px;
	border-bottom: 1px solid #7E9BBD;
}

.dropdown__list-item:hover {
	background: rgba(176, 198, 225, 0.26);
}

.dropdown__input-hidden {
	display: none;
}




.form__card-can, .form__card-new, .form__card-yon, .form__card-she {
    display: none;
    margin-top: 50px;
    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 17px 76px 32px 33px;
}
.form__card-active {
    display: block;
}
.form__card-can-city, .form__card-can-phone, .form__card-can-adress  {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
     
}

.form__card-can-city span, .form__card-can-phone span, .form__card-can-adress span {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    
}
.form__card-can-btn {
    width: 122px;
    height: 26px;
    background: #EDF2EC;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-left: 130px;
}
.form__card-can span {
     text-align: right;
}



.footer {
    display: flex;
    justify-content: center;
}
.footer__wrapper {
    display: grid;
    grid-template-columns:repeat(3, auto) ;
    padding-top: 40px;
    padding-bottom: 40px;

}

.footer__git {
    justify-self: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.footer__git a {
    text-decoration: none;
    color: #000;
}
.footer__rs{
    justify-self: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;

}
.footer__icons{
    justify-self: center;
    padding-top: 10px;
}
.footer__icons a {
    margin-left:20px ;
}

@media (max-width: 1330px) {
    .plants-wrapper{
        flex-direction: row-reverse;
        gap: 0;
        padding-top: 32px;
    }
    .plants-wrapper__img {
        padding: 40px 50px 125px 0;
    }
    .plants-wrapper__text{
        padding: 40px 0 70px 50px;
    }
    .plants-wrapper__text-titile {
        font-size: 35px;
        
    }
    .plants-wrapper__text-subtitle {
        font-size: 16px;
        line-height: 25px;
    }
    .professional-wrapper {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
        padding-right: 0;
        padding: 34px 50px;
    }
    .professional-wrapper__text{
        padding: 0 0;
    }
    .professional-wrapper__text h2 {
        padding-left: 150px;
    }
    .professional-wrapper__img img {
        width: 50%;
        height: auto;
        object-fit: cover;
    }
    .professional-wrapper__img {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .service-lable {
        gap: 35px 105px;
        padding: 0 55px;
    }
    .service-info {
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
    }
    .service-info__btn {
        padding: 25px 0 0 75px;
    }
    .contact__wrapper img {
        order: 10;
    }
    .contact__wrapper p {
        order: 0;
    }
    .form-group {
        order: 5;
    }
    .contact__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact__wrapper p {
        padding-left: 40px;
    }

}
@media (max-width: 1000px) {
    .logo {
        padding-left: 50px;
    }
    .navbar a:last-child {
        padding-right: 50px;
    }
    .plants-wrapper__img img {
        width: 100%;
        height: auto;
    }
    .professional-wrapper__img img {
        width: 45%;
     
    }
    .prices-base {
        padding-left: 50px;
    }
    .prices-wrapper{
        justify-content: center;
    }
    .prices-text {
        padding: 130px 50px 0 0;
        
    }
    .prices-text p {
        font-size: 25px;
    }
    .prices-text p span {
        font-size: 25px;
    }
    .prices-btn {
        margin-left: 180px;
    }
    .prices-text img {
        margin-left: 180px;
    }
    
    .contact__wrapper img {
        width: 30%;
        height: auto;
        object-fit: cover;
    }
    .contact__wrapper img {
        padding-top: 150px;
    }
    .footer__wrapper {
        grid-template-columns: none;
        grid-template-rows: repeat(3, auto);
    }
}



@media (max-width: 767px) {
    .btn {
      display: block;
    }
    .btn {
        display: block;
    }
    
    .navbar {
        position: fixed;
        flex-direction: column;
        min-width: 300px;
        height: 100vh;
        background: #EDF2EC;
        top: 0;
        right: -100%;
        transition: all 0.9s;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 10rem;
    }
    
    .navbar.active2 {
        right: 0;
        transition: 0.9s;
        padding-right: 15px;
        padding-top: 30px;
    }
    .navbar .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 15px;
        padding-top: 30px;
        
    }
    
    .navbar a {
        display: block;
        font-size: 1.9rem;
        margin: 15px;
        padding: 0.5rem 15px;
    }
    
    .navbar a:hover {
        color: #E06733;
    }
    .professional-wrapper__img img {
        width: 40%;
        
    }
    .prices-wrapper {
        grid-template-rows: repeat(2,  auto);
        grid-template-columns: none;
        justify-items: center;
    }
    .prices-text p {
        text-align: center;
    }
    .prices-base {
        padding-left: 0;
    }
    .prices-text {
         padding: 50px 0 0 0; 
    }
    .prices-btn {
        margin-left: 50px;
    }
    
} 

@media (max-width: 676px) {
    .plants-wrapper__img {
        display: none;
    }
    .plants-wrapper__text {
        padding: 40px 50px 70px 50px;
    }
    .professional-wrapper__text h2 {
        text-align: center;
        padding-left: 0;
    }
    .service-info__text {
        font-size: 35px;
        padding-left: 50px;
    }
    .service-info__btn {
        padding: 25px 0 0 40px;
    }
    .prices-text img {
        display: none;
    }
    .form-group {
        width: 300px;
        margin-left: 0;

    }
    .service-btn {
        margin-bottom: 15px;
        margin-left: 15px;
        width: 121px;
        height: 35px;
    }
    /* .prices-wrapper {
        grid-template-rows: repeat(2,  auto);
    } */
}